################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Ice-task1/Ice-task1.sln
/Ice-task1/Ice-task1.sln
